@import url('https://fonts.googleapis.com/css?family=Alata|Cinzel+Decorative:900|Roboto+Condensed|Raleway&display=swap');

* {
  box-sizing: border-box;
  background-color: #0D0D0D;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}

h1, h3{
  font-family: 'Cinzel Decorative', cursive;
}

body, select, option {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #D9D9D9;
  line-height: 1.5;
}


button {
  font-family: 'Raleway', sans-serif;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}
