.register-lift-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.register-lift-form label {
    display: block;
    text-align: left;
}

.register-lift-form input {
    width: 20em;
    height: 3em;
}

.register-lift-form select {
    width: 13em;
    height: 2em;
}

.register-lift-form button {
    margin-top: 15px;
}