.result-list {
    margin-top: 20px;
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 16px;
    align-self: center;
    text-align: left;

}

.result-list tr {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
 }

.results-button {
    margin-top: 50px;
}